# Course 1
course-1/git-test/node_modules
course-1/git-test/package-lock.json

course-1/conFusion/node_modules
course-1/conFusion/package-lock.json
course-1/conFusion/dist

# Course 2
course-2/confusion/package-lock.json
